module.exports = {
    discord: {
      token: 'YOUR_BOT_TOKEN',
      channelID: 'YOUR_CHANNEL_ID',
      clientId: "YOUR_CLIENT_ID",
      guildId: "YOUR_GUILD_ID"
    },
    websites: [
      'https://example.com',
      'https://example2.com',
    ]
  };
  